html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Helvetica, Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  color: #666;
  background: #fff;
  text-transform: none;

}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

// page transitions : this type is defined in the config
.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.page-section, .front-page-section {
  h1, h2, h3, h4, h5 {
    font-family: $fs-heading-font-family;
    font-style: normal;
    font-weight: 300;
  }
}

.jumbotron-outer .jumbotron .text-medium {
  h1, h2, h3, h4, h5 {
    font-style: normal;
    font-weight: 300;
  }
}

body.page-blog-post {
  h1, h2, h3, h4, h5 {
    font-family: $fs-font-family-serif;
  }
}

span.entry-subtitle {
  display: block;
  font-size: .53333333333333em;
  margin-top: .4em;
}

#top {
    display: block;
    @media (min-width: 991px) {
      min-height: 100px;
    }
    @media (max-width: 1100px) {
      height: auto;
    }
}

.front-page-section {
    padding: 0 5%;
    position: relative;
}

.front-page-section .wrap {
    padding: 6% 0 8% 0;
    margin: 0 auto;
    max-width: 1600px;
}

.front-page-section.narrow >.wrap {
  max-width: 1000px;
}

.front-page-section.grey {
  background-color: #f8f8f8;
}

.front-page-section.responsive .promo-content {
    position: relative;
    width: 55%;
    z-index: 2;
    margin: 12% 0 16% 55%;
}
.front-page-section .promo-media {
    margin: 4% 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: 1;
}

.fs-bg-shade-teal {
  background-color: #3cbda6;
}
.fs-bg-shade.royal {
  background-color: #2ea3f2;
}
.fs-divider.secondary {
  background-color: #fec427;
}
.btn.btn-default.btn-yellow {
  background: #fec427;
  color: #333;  
}
.btn-default {
  background: #1b1b1b;
  color: #fff;  
}

body.page #custom-main > section .wrap {
  background: #fff;
  margin-top: 60px;
  margin-bottom: 60px;
}

body.page-template-default #custom-main {
  background: #f8f8f8;
  // offset for the fixed header
  @media (max-width: 992px) {
    padding-top: $fs-site-header-height;
  }
}

.fs-content-wrap {
  background: #fff;
  border-bottom: 2px solid #fec427;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.05);
  box-shadow: 0 0 4px rgba(0,0,0,.05);
  max-width: 1200px;
  padding: 60px 80px;
  
  margin-right: auto;
  margin-left: auto;  
}
    
.element-section.full > .wrap {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 5%;
}

.element-section >.wrap {
  padding: 3% 5% 4% 5%;
}

.wp-block-image {
  margin: 20px;
}

figure.aligncenter {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  img {
    margin: 0 auto;
  }
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

@media (min-width: 768px) {
  .col-sm-020 {
      width: 20%;
  }
}

@media (min-width: 992px) {
  body.tb-suck-up #container>#top {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 500;
  }
}

// btn-orange - override orange color for button styles
.btn.btn-orange.btn-trans, [type=submit].btn-orange.btn-trans {
    background-color: transparent;
    border-color: $menu-border-color;
    color: $menu-border-color;
    &:hover, &:visited, &:active, &:focus {
        background-color: $menu-border-color;
    }
}

// blockquote
blockquote {
    font-size: 1.2em;
    width: 100%;
    margin: 50px auto;
    font-family: 'Open Sans' serif;
    font-style:italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #78C0A8 ;
    line-height: 1.6;
    position: relative;
    background:#EDEDED;

  &:before {
    font-family:Arial;
    content: "\201C";
    color:#78C0A8;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  &:after {
    content: '';
  }
  span {
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }
}
