.element-section > .element, .element-columns .element {
    clear: both;
    margin-bottom: 60px;
}

.element-section>.element.popout {
    max-width: none!important;
    margin-right: -30px;
    margin-left: -30px;
    padding-right: 0!important;
    padding-left: 0!important;
    width: auto;
}