.epic-thumb .epic-thumb-header {
    max-width: none;
    padding-right: 40px;
    padding-left: 40px;
    text-align: left;
    .entry-title {
        color: #fff;
        font-size: 30px;
        font-weight: 100;
        max-width: none;
        text-shadow: 2px 2px 1px rgba(0,0,0,.2);
    }
    @media (max-width: 767px) {
        margin: 0 auto;
        padding: 30px;
    }
}

.epic-thumb span.entry-subtitle {
    display: block;
    line-height: 1.5;
    margin-top: 5px;
}
.epic-thumb.fw {
    background-color: #222;
    position: relative;
    img {
        width: 100%;
    }
    @media (min-width: 768px) {
        min-height: 200px;
    }
}
.epic-thumb.no-image.contact {
    @include linear-gradient($mobile-menu-wrapper, darken($mobile-menu-wrapper, 5%));
}    
@media (min-width: 768px) {
    .epic-thumb.no-image {
        min-height: 0;
        padding: 3% 0;
        .epic-thumb-header {
            position: static;
            -webkit-transform: none;
            transform: none;
        }
    }
    .epic-thumb.fw {
        min-height: 200px;
        background-color: #222;
        img {
            opacity: .6;
        }
    }
    .epic-thumb .epic-thumb-header {
        margin: 0 auto;
        max-width: 1600px;
        padding: 0 5%;
        z-index: 2;
        text-align: left;

        .entry-title {
            font-size: 60px;
            font-weight: 100;
            max-width: none;
            margin: 0 auto;
        }            
    }        
    .epic-thumb span.entry-subtitle {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.1;
        margin-bottom: 15px;
    }   
}