/* Menu Toggle */
.tb-nav-trigger,
.tb-side-trigger {
	display: block;
	position: relative;
}
.tb-nav-trigger .hamburger,
.tb-side-trigger .hamburger {
	display: block;
	position: relative;
	width: 22px;
	height: 14px;
}
.tb-nav-trigger .hamburger span,
.tb-side-trigger .hamburger span {
	background-color: #666666;
	border-radius: 1px;
	display: block;
	opacity: 1;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .2s cubic-bezier(0.04,.78,.35,.92), top .2s ease-in-out;
	transition: transform .2s cubic-bezier(0.04,.78,.35,.92), top .2s ease-in-out;
	width: 100%;
	height: 2px;
}
.tb-nav-trigger .hamburger .top,
.tb-side-trigger .hamburger .top {
	top: 0;
}
.tb-nav-trigger.collapse .hamburger .top,
.tb-side-trigger.collapse .hamburger .top {
	top: 50%;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.tb-nav-trigger .hamburger .middle,
.tb-side-trigger .hamburger .middle {
	top: 50%;
	margin-top: -1px;
}
.tb-nav-trigger.collapse .hamburger .middle,
.tb-side-trigger.collapse .hamburger .middle {
	margin-top: 0;
	top: 50%;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.tb-nav-trigger .hamburger .bottom,
.tb-side-trigger .hamburger .bottom {
	bottom: 0;
}
.tb-nav-trigger.collapse .hamburger .bottom,
.tb-side-trigger.collapse .hamburger .bottom {
	opacity: 0;
}