/* Mobile Menu */
.tb-mobile-menu {
    list-style: none;
    padding: 0;
    > li {
        padding: 0;
    }
}
.tb-mobile-menu > li > .menu-btn {
	cursor: pointer;
	display: block;
	font-size: 14px;
	line-height: 1.2em;
	padding: 1.2em 1.4em;
	position: relative;
    text-decoration: none;
}
.tb-mobile-menu > li.menu-item-has-children > .menu-btn {
	padding-right: 36px;
}
.tb-mobile-menu > li > .menu-btn > .sf-sub-indicator {
	display: block;
	font-size: 18px;
	line-height: 1.2em;
	margin: -.5em 0 0 0;
	position: absolute;
	top: 50%;
	right: 1em;
	text-align: center;
	width: 1em;
	height: 1em;
}
.tb-mobile-menu ul {
	position: static;
}
.tb-mobile-menu > li:hover > ul {
	display: block;
}
.tb-mobile-menu ul ul {
	display: block !important;
}

/**/
.tb-mobile-menu-wrapper .tb-mobile-menu > li > .menu-btn {
    font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    border-bottom: 1px solid $mobile-menu-border-color;

    &:hover, &.nuxt-link-exact-active {
      background-color: $mobile-menu-background-color;
    }
}
.tb-mobile-menu-wrapper .tb-mobile-menu, .tb-mobile-menu-wrapper .tb-mobile-menu .sub-menu li.non-mega-sub-menu:last-child {
    background-color: transparent;
}

.site-header.transparent .header-nav .tb-primary-menu > li > .menu-btn:before {
	background-color: $menu-border-color;
}

.mobile-nav {
    float: right;
    margin: 0 16px 0 0;

    .tb-nav-trigger {
        padding-top: 25px;
        padding-bottom: 25px;
        cursor: pointer;
    }

    >li>a {
        color: rgba(26,26,26,.7);
        display: block;
        font-size: 20px;
        line-height: 64px;
        opacity: .95;
        padding: 0 18px;

        @media (max-width: 767px) {
            color: rgba(255,255,255,.8);
        }
        @media (max-width: 768px) {
            padding-right: 10px;
            padding-left: 10px;
        }

    }
}


.tb-nav-trigger .hamburger span, .tb-side-trigger .hamburger span {
    background-color: $hamburger-background-color;
    border-radius: 1px;
    display: block;
    opacity: 1;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .2s cubic-bezier(0.04,.78,.35,.92),top .2s ease-in-out;
    transition: transform .2s cubic-bezier(0.04,.78,.35,.92),top .2s ease-in-out;
    width: 100%;
    height: 2px;
}

.tb-mobile-menu-wrapper {
    display: none;
}
.tb-mobile-menu-wrapper .panel-item {
    margin: 20px 0;
}
.tb-mobile-menu-wrapper .tb-mobile-menu {
    margin-top: 0;
}
.tb-nav-trigger .hamburger, .tb-side-trigger .hamburger {
    display: block;
    position: relative;
    width: 22px;
    height: 14px;
}
.tb-nav-trigger .hamburger .top {
    top: 0;
}
.tb-nav-trigger .hamburger .middle {
    top: 50%;
    margin-top: -1px;
}
.tb-nav-trigger .hamburger .bottom {
    bottom: 0;
}

@media (max-width: 991px) {     
    .site-header .mobile-nav {
        display: block;
    }
    .mobile-menu-right-on .site-header .mobile-nav {
        display: none;
    }
    .mobile-menu-right-on #wrapper {
        -webkit-transform: translate3d(-280px,0,0);
        transform: translate3d(-280px,0,0);
        -webkit-transition: transform .2s ease-out;
        transition: transform .2s ease-out;
    }  
    .mobile-menu-right-on .tb-mobile-menu-wrapper {
        -webkit-transform: translate3d(-280px,0,0);
        transform: translate3d(-280px,0,0);
        .mobile-nav {
            position: absolute;
            top: 0;
            left: -60px;
        }
    }
    .tb-mobile-menu-wrapper.right {
        right: -280px;
    }

    .tb-mobile-menu-wrapper {
        background-color: $mobile-menu-wrapper;  
        border: 0;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        margin: 0!important;
        padding: 0;
        position: fixed !important;
        top: 0;
        bottom: 0;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: transform .2s ease-out;
        transition: transform .2s ease-out;
        width: 280px;
        z-index: 200;
          
        .header-text {
            float: none;
            padding: 0 20px;
            line-height: 24px;
            color: rgba(255,255,255,.85);
            &:hover {
                color: #fff;
            }
        }
        .panel-item {
            margin: 0;
            color: #fff;
            &:last-child {
                margin: 20px 0;
            }
        }    
    }
  }
