.page-section {
    padding: 0 5%;
    position: relative;

    &.hero {
        margin-top: -100px;
        overflow: hidden;
        > .wrap {
            padding: 8% 0 12% 0;
        }
    }
    
    &.grey {
      background-color: #f8f8f8;
    }
    &.white {
      background-color: #fff;
    }
    &.dark {
      background-color: #222;
      color: #fff;
      h2 {
        color: #fff;
      }
    }
    .wrap {
        padding: 6% 0;
        margin: 0 auto;
        max-width: 1600px;
        &:last-child {
          .wrap {
            padding-bottom: 0;
          }
        }            
    }

    .promo-content {
        margin: 8% 0 12% 0;
        position: relative;
        width: 50%;
        z-index: 2;    
    }
    .promo-media {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        z-index: 1;
        overflow: hidden;
    }    
    &.narrow {
      h2 {
        font-size: 50px;
        font-weight: 100;
        line-height: 1.3;
        margin-bottom: 20px;      
      }
      p {
        padding-right: 20px;
        font-size: 19px;
      }
      >.wrap {
        max-width: 1000px;      
      }
    }

}

@media (max-width: 767px) {
    .page-section.hero .one-half.right {
      background-position: 0 0;
      margin-top: 50px;
      padding-bottom: 56%;
      position: static;
      width: 100%;
    }  
  }
  
@media (min-width: 768px) {
    .page-section .one-half, .page-section .one-third, .page-section .two-third {
      float: left;
      margin-left: 5%;
    }
    .page-section .one-half.first, .page-section .one-third.first, .page-section .two-third.first {
      margin-left: 0;
      width: 47.5%;
    }
}
