.site-footer {
    background-color: #222;
    color: #fff;
    padding: 0;
    .wrap {
      max-width: none;
      padding: 0;
      width: auto;
    }
  }
  
  .footer-subscribe {
    color: #fff;
    padding: 0 5%;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #1a1a1a;
    background-size: cover;


    .honeypot {
      position: absolute;
      left: -5000px;    
    }
  
    >.wrap {
      margin: 0 auto;
      max-width: 1000px;
      padding: 80px;
      position: relative;
      z-index: 2;
    }
    h3 {
      font-size: 40px;
      font-weight: normal;
      color: #fff;
      margin: 0 auto 30px auto;
    }
    form {
      margin: 0 auto;
      max-width: 600px;
      label {
        display: block;
        float: left;
        padding: 0 10px;
        width: 33.3333%;
        margin: 0;    
      }
      .field-icon {
        color: #3e3e3e;
      }
      input {
        background-color: transparent;
        border: 1px solid #3e3e3e;
        border-radius: 2px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        height: auto;
        line-height: 36px;
        padding: 10px 18px;
        width: 100%;
        &:focus {
          border: 1px solid #fff;
        }
      }
      .has-field {
        label {
          display: none;
        }
      }
    }
    .subscribe-submit {
      display: block;
      width: 33.3333%;

      .btn {
        line-height: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        border: 1px solid #3e3e3e;
        &:hover {
          background-color: #3e3e3e;
        }
      }

      @media (max-width: 767px) {
        width: 100%;
        padding: 0;
      }
    }
  }
  
  .footer-content {
    font-size: 12px;
    padding: 0 5%;  
    >.wrap {
      margin: 0 auto;
      max-width: 1600px;
      padding: 90px 0;    
    }
    .links {
      a {
        margin-left: 0;
      }
    }
    li {
      margin-bottom: 7px;
      a {
        color: #eee;
        svg {
          width: 15px;
        }
      }
    }
    h3 {
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;    
    }
  }
  
  .copyright {
    background-color: #000;
    color: #bbb;
    padding: 40px 20px;
    text-align: center;
    a, a:hover, a:focus, a:visited {
      color: #bbb;
    }
    span {
      display: block;
      color: #999;
    }
  }