#top {
  display: block;
}
.tb-suck-up #top {
  background-color: transparent;
}

.site-header {
  background-color: rgba(0,0,0,0.4);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0 5%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  transition: padding .2s ease-in-out;

  .mobile-nav, .logo-mobile, .logo-trans {
    display: none;
  }
  // standard header has a background image and set height
  &.standard {
    background-image: url(/img/02-carbonwp-header.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;
    background-position: left center;
    border-bottom: 0;
  }

  &.standard > .wrap > .header-content, 
  &.has-bg-shade > .wrap > .header-content {
    position: relative;
    z-index: 3;
    @media (min-width: 992px) {
      height: 100px;
    }
  }

  &.has-bg-shade > .wrap > .bg-shade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.6);
  }

  .header-content {
    > .wrap {
      position: relative;
      z-index: 2;
      margin-right: auto;
      margin-left: auto;
    }

    @media (max-width: 767px) {
      height: auto;
      > .wrap {
        height: $fs-site-header-height;        
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      padding: 20px 0px;
    }

    @media (min-width: 991px) {
      .wrap {
        .logo-trans {
          display: block;      
        }
      }
    }

    @media (max-width: 991px) {
      .wrap {
        .logo-mobile {
          display: block;
        }
      }
    }

    @media (max-width: 1100px) {
      padding: 0;
      position: relative;
    }
  }

  .header-logo {
    float: left;
    position: relative;

    .logo {
      float: left;
      display: block;
      -webkit-transition: padding .2s ease-in-out;
      transition: padding .2s ease-in-out;
    }
    @media (min-width: 768px) {
      .logo-trans {
        display: block;
      }
    }

    @media (min-width: 992px) {
      padding: 36px 20px 35px 0px;

      img {
        width: auto;
        height: 30px;
      }
    }
 
  }

  .wrap {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0;

    .header-nav {

      .primary-menu > li > .menu-btn {
        padding-top: 28px;
        padding-bottom: 27px;
        -webkit-transition: padding .2s ease-in-out;
        transition: padding .2s ease-in-out;

        font-family: $fs-font-family-secondary;
        font-size: 24px;
        font-weight: 300;

        color: #fff;
        &:before {
          content: "";
          position: absolute;
          left: 51%;
          right: 51%;
          bottom: 0;
          background: #fec527;
          height: 4px;
          -webkit-transition-property: left, right;
          transition-property: left, right;
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          z-index: -1;          
        }   
        &:hover {
          background-color: transparent;
        }
        &:hover:before {
          left: 0;
          right: 0;         
        }
        &.nuxt-link-exact-active, &:active {
          background: transparent;
          &:before {
            left: 0;
            right: 0;
          }
        } 
      }
    }
  }

  .transparent {
    .header-nav {
      background: transparent;
      background-color: transparent;
      float: right;
    }

    .header-content {
      border-bottom: 1px solid rgba(0,0,0,0.25);
    }

    .tb-nav-trigger .hamburger span {
      background-color: #ffffff;
    }

    .mobile-nav > li > a {
      background-color: transparent;
      color: #ffffff;
    }
    > .wrap {
      border-bottom: 1px solid rgba(0,0,0,0.25);
    }
  }

  @media (max-width: 767px) {
    height: auto;
    background-color: $fs-color-orange;
    .logo-trans {
      display: none;
    }
    .logo-mobile {
      display: block;
    }
    .site-header {
      background-color: $fs-color-orange;
    }
    >.wrap {
      height: $fs-site-header-height;
      padding: 0;
    }
    .tb-nav-trigger .hamburger span {
        background-color: #fff;
        background-color: rgba(255,255,255,.8);
    }    
  }
  // only show mobile elements up to 991px viewport
  @media (max-width: 991px) {
    .mobile-nav, .logo-mobile {
      display: block;
    }
    .logo-mobile {
      padding-top: 20px;
    }

  }

  @media (max-width: 991px) and (min-width: 768px) {
    &.dark {
      .tb-nav-trigger .hamburger span {
        background-color: #ffffff;
        background-color: rgba(255,255,255,.8);
      }
    }
  }

}

.is-fixed {
  .site-header {
    background-color: $fs-color-orange;
  }
  .site-header .header-logo {
    padding: 16px 20px 14px 0px;
    .logo {
      padding-top: 5px;
    }
  }
  .site-header .wrap .header-nav .primary-menu > li > .menu-btn {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .site-header .header-content {
    height: auto;
    min-height: 60px;
  }
}

body.transparent-header #top:not(.is-fixed) .site-header {
  background-color: transparent;
  border-bottom: 0;
}

body.has-bg-shade .site-header {
  background-color: #000000;
  background-color: rgba(0,0,0,1);
  background-image: url(/img/02-carbonwp-header.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  background-position: left center;
  > .wrap > .bg-shade {
      background-color: rgba(0,0,0,0.6);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
  }
}

.menu-bar {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;  

  > li {
    float: left;
    margin: 0 10px;
    position: relative;
    > a {
      background-color: transparent;
      color: #f8f8f8;
      display: block;
      line-height: 46px;
      padding: 0 5px;
      position: relative;
    }
    > .menu-btn {
      font-family: $primary-menu-font;
      font-size: $primary-menu-font-size;
      font-weight: $primary-menu-font-weight;
      letter-spacing: 1px;
      padding: 0 10px;
      text-transform: $primary-menu-font-transform;
    }    
  }  
}

@media (max-width: 991px) {  
  .header-nav {
    display: none;
  } 
  .header-logo {
    float: none;
    &.logo-mobile img {
      height: 25px;
    }
    img {
      max-height: $fs-site-header-height;
      width: auto;
    }
  }   
}

@media (min-width: 992px) {
  .sticky-on .site-header .header-logo {
      padding: 5px 20px 5px 10px;
  }
}