/// Inner styling for an unstyled unordered list.
///
/// @since 1.0.1
///
@mixin fs-list-unstyled ($direction: rtl) {
    list-style: none;

    @if ($direction == 'rtl') {
        padding-right: 0;
    } @else {
        padding-left: 0;
    }
}

// responsive breakpoints
// example: @include respond-to(small)
@import '~frontstreet/src/scss/utils/_variables';

@mixin respond-to($breakpoint) { 
  @if map-has-key($fs-breakpoints, $breakpoint) {
    @media (min-width: #{map-get($fs-breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin linear-gradient($from, $to) {
    background: $to;
      background: -moz-linear-gradient(top, $from 0%, $to 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
      background: -webkit-linear-gradient(top, $from 0%,$to 100%);
      background: -o-linear-gradient(top, $from 0%,$to 100%);
      background: linear-gradient(to bottom, $from 0%,$to 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
  }

  // imported mixins

/// Mixin to prefix a property
/// @author Hugo Giraudel
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
// usage: @include prefix(transform, rotate(45deg), webkit ms);
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
   
    // Output standard non-prefixed declaration
    #{$property}: $value;
  }
  
  // Mixin for applying a highlighted button style
  @mixin highlight-button($font-size: 18px, $highlight-color: #35c350, $base-color: #03b525, $border-color: #00b22d, $border-radius: $border-radius) {
    font-size: $font-size;
    border-radius: $border-radius;
    text-transform: inherit;
    letter-spacing: inherit;
    text-shadow: 0 -1px 1px rgba(0,0,0,.2);
    @include gradient-vertical($highlight-color, $base-color);
    //@include prefix(transition, background-image 2s ease, webkit ms);
    border: 1px solid $border-color;
    &:hover {
      @include gradient-vertical($highlight-color, darken($base-color, 10%));
    }
  }
    
  // Gradients
  
  // Horizontal gradient, from left to right
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
  @mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
      background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
      background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
      background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
    }  
    
    // Vertical gradient, from top to bottom
    //
    // Creates two color stops, start and end, by specifying a color and position for each color stop.
    // Color stops are not available in IE9 and below.
    @mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
      background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
      background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
      background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
    }
    
    @mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
      background-repeat: repeat-x;
      background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
      background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
      background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    }
    @mixin gradient-horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
      background-image: -webkit-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
      background-image: -o-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
      background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
      background-repeat: no-repeat;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down, gets no color-stop at all for proper fallback
    }
    @mixin gradient-vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
      background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
      background-image: -o-linear-gradient($start-color, $mid-color $color-stop, $end-color);
      background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
      background-repeat: no-repeat;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
    }
    @mixin gradient-radial($inner-color: #555, $outer-color: #333) {
      background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
      background-image: radial-gradient(circle, $inner-color, $outer-color);
      background-repeat: no-repeat;
    }
    @mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg) {
      background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
      background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
      background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    }
  

    @mixin rounded($radius: 0.5em) {
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
      border-radius: $radius;
    }

    @mixin box-shadow($top, $left, $blur, $color, $inset: false) {
      @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
      } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
      }
    }