.w-100 {
    width: 100%;
    padding: 20px;
}
.w-50 {
    width: 50%;
}
.w-75 {
    width: 75%;
}
.caps {
    text-transform: uppercase;
}
.content-wrap {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 5%;    
}
.aligncenter {
    text-align: center;
}
.float-left, .alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.float-right, .alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.royal {
    background-color: #428bca;
    border-color: #245682;
    color: #fff;
}
.fs-section {
    padding: 110px 80px;
}
.bg-dark {
    h1, h2, h3, h4, p, .fs-element {
      color: #fff;
    }
}