$fs-font-family-base: 'Open Sans', sans-serif;
$fs-font-size-base: 18px;

$fs-font-family-secondary: 'Teko', sans-serif;
$fs-font-size-secondary: 22px;

$fs-font-family-serif: 'Lora', serif;

$fs-link-color: #000;
$fs-link-color-hover: #000;

$fs-branding-colors: (
  primary: (
    base: #000,
    contrast: #fff
  ),
  secondary: (
    base: #000,
    contrast: #fff
  )
  // orange: (
  //   base: #d68a16,
  //   contrast: #fff
  // )  
);

// breakpoints
$fs-breakpoint-xs: 576px;
$fs-breakpoint-sm: 768px;
$fs-breakpoint-md: 992px;
$fs-breakpoint-lg: 1200px;
$fs-breakpoint-xl: 1600px;

// Site Header
$fs-site-header-height: 65px;

$fs-heading-font-family: $fs-font-family-base;
$fs-heading-font-weight: 300;

$primary-menu-font: $fs-font-family-secondary;
$primary-menu-font-transform: uppercase;
$primary-menu-font-size: 14px;
$primary-menu-font-weight: 600;

$hamburger-background-color: #666;

// primary colors
$fs-color-orange: #d68a16;
$fs-color-orange-lighter: #fec427;

// mobile menu
$mobile-menu-wrapper: $fs-color-orange;
$mobile-menu-border-color: #ab6f13;
$mobile-menu-background-color: $mobile-menu-border-color;

$menu-border-color: $fs-color-orange-lighter;