<template>
  <div :class="[{ 'mobile-menu-right-on': this.showMobileMenu } ]">
    <div id="wrapper">
      <div id="container">

        <!-- HEADER (start) -->
        <fixed-header 
          :fixed.sync="isFixed" 
          :threshold="100">
          <div 
            id="top" 
            :class="[{ 'is-fixed': isFixed }]">
            <header 
              id="branding" 
              class="site-header dark mobile-dark drop-dark transparent">
              <div class="wrap clearfix">

                <div class="bg-shade"/>
                <div class="header-content">
                  <div class="wrap clearfix">
                    <div class="header-logo logo-trans">
                      <!-- Site Logo -->
                      <nuxt-link 
                        to="/" 
                        class="image-logo" 
                        title="icreativepro">
                        <img 
                          src="/img/icp_logo_trans_md.png" 
                          alt="icreativepro">
                      </nuxt-link>
                    </div>
                    <!-- Mobile Logo / Menu Toggle -->
                    <div class="header-logo logo-mobile">
                      <nuxt-link 
                        to="/" 
                        title="icreativepro" 
                        class="image-logo logo">
                        <img 
                          src="/img/icp_logo_trans_sm.png" 
                          alt="icreativepro">
                      </nuxt-link>
                    </div>

                    <!-- Main Menu -->
                    <nav 
                      id="access" 
                      class="header-nav">
                      <div class="wrap clearfix">
                        <ul class="tb-primary-menu primary-menu mobile-menu menu-bar menu-bar-horz-sm no-js text-light sf-menu sf-menu-with-fontawesome clearfix sf-arrows">
                          <li><nuxt-link 
                            to="/" 
                            title="Home" 
                            class="menu-btn caps">Home</nuxt-link></li>
                          <li><nuxt-link 
                            to="/about" 
                            title="About" 
                            class="menu-btn caps">About</nuxt-link></li>
                        </ul>
                      </div>
                    </nav>

                    <!-- mobile menu -->
                    <ul class="mobile-nav list-unstyled">
                      <li>
                        <a 
                          :class="[showMobileMenu ? 'collapse' : '' , 'tb-nav-trigger btn-navbar']" 
                          @click="toggleMenu">
                          <span class="hamburger">
                            <span class="top"/>
                            <span class="middle"/>
                            <span class="bottom"/>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>                 
                </div>
              </div><!-- .wrap -->
            </header><!-- #branding -->
          </div><!-- #top -->
        </fixed-header>
        <!-- HEADER (end) -->

        <div 
          id="custom-main" 
          class="clearfix">
          <nuxt/>
        </div>

        <div id="bottom">
          <footer 
            id="colophon" 
            class="site-footer">
            <div class="wrap clearfix">

              <div class="footer-subscribe">
                <div class="wrap">

                  <form action="#" method="post">
                    <h3>
                      Subscribe to our Newsletter
                    </h3>
                    <ul class="field-group">
                      <li class="has-field">
                          <label for="drip-email">Email Address</label>
                          <input type="email" id="email" name="fields[email]" value="" placeholder="Your Email Address" />
                      </li>
                      <li class="has-btn subscribe-submit">
                        <input type="submit" value="Sign Up" class="btn btn-primary" />
                      </li>
                    </ul>
                  </form>

                </div><!-- .wrap (end) -->
              </div>

              <div class="copyright">
                &copy; {{ year }} icreativepro llc, all rights reserved.
              </div>

            </div><!-- .wrap -->
          </footer><!-- #colophon -->
        </div><!-- #bottom -->

      </div>
    </div>
    <div class="tb-mobile-menu-wrapper dark right">
      <div class="wrap">
        <ul 
          id="menu-main-menu" 
          class="sf-menu-with-fontawesome clearfix tb-mobile-menu tb-side-menu panel-item sf-js-enabled sf-arrows">
          <li class="menu-item menu-item-home level-1" @click="toggleMenu"><nuxt-link 
            to="/" 
            title="Home" 
            class="menu-btn caps">Home</nuxt-link></li>
          <li class="menu-item level-1" @click="toggleMenu"><nuxt-link
            to="/about" 
            title="About" 
            class="menu-btn caps">About</nuxt-link></li>
        </ul>
        <div class="header-text to-mobile panel-item">{{ contactDetails }}</div>
        <!-- mobile menu -->
        <ul class="mobile-nav list-unstyled">
          <li>
            <a 
              :class="[showMobileMenu ? 'collapse' : '' , 'tb-nav-trigger btn-navbar']" 
              @click="toggleMenu">
              <span class="hamburger">
                <span class="top"/>
                <span class="middle"/>
                <span class="bottom"/>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import FixedHeader from 'vue-fixed-header'

export default {
  components: {
    FixedHeader
  },
  data () {
    return {
      isFixed: false,
      showMobileMenu: false,
      year: new Date().getFullYear(),
      contactDetails: 'Your service description or contact details.'
    }
  },
  methods: {
    toggleMenu: function(event) {
      this.showMobileMenu = !this.showMobileMenu
    }
  },
}
</script>
