<template>
  <section 
    id="error-section" 
    class="element-section">
    <div class="epic-thumb fw no-image contact">
      <header class="entry-header epic-thumb-header epic-thumb-content">
        <h1 class="entry-title text-center">
          <span 
            v-if="error.statusCode === 404" 
            class="entry-title-primary">Page not found</span>
          <span 
            v-else 
            class="entry-title-primary">An error occurred</span>

          <span class="entry-subtitle">Uh oh. We found an error.</span>
        </h1>
      </header>
    </div>
    <div class="wrap">
      <div class="element element-2 element-content error-content no-popout clearfix visible text-center">
        <nuxt-link to="/">&laquo; Go back to the home page.</nuxt-link>
      </div>
      <!--div class="error-image"></div-->
    </div>
  </section>
</template>

<script>
export default {
  props: ['error'],
  layout: 'default', // you can set a custom layout for the error page
  head: {
    title: 'Error page',
    meta: [
      { hid: 'description', name: 'description', content: 'We encountered an error' }
    ],
    bodyAttrs: {
        class: 'has-bg-shade page page-error'
    }
  }
}
</script>

<style lang="scss">
body.page-error #custom-main > section .wrap {
  position: relative;
  min-height: 1200px;
  background: url(/img/error/inspector-P9MSRF2.jpg) top center no-repeat;
  margin-top: 0;
  margin-bottom: 0;
}

#error-section {

    .error-content {
      font-size: 22px;
      color: #fff;
      a {
        color: #fff;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

}
</style>