<template>
  <section 
    id="about-section" 
    class="element-section empty-page narrow">
    <div class="epic-thumb fw no-image contact">
      <header class="entry-header epic-thumb-header epic-thumb-content">
        <h1 class="entry-title text-center">
          <span class="entry-title-primary">About</span> 
          <span class="entry-subtitle">Our company information can go here.</span>
        </h1>
      </header>
    </div>
    <div class="wrap fs-content-wrap">

        <div class="element element-1 element-content bg-content bg-dark clearfix visible fs-section about-content text-center">
          <div class="fs-element">
            <h1 class="heading-lg">Lorem Ipsum Dolor</h1>
            <p class="lead">Donec rutrum, est vel posuere congue, arcu mauris euismod libero, eget mattis est orci vitae nisi. Cras eget urna nunc, nec aliquet dui.</p>
            <a href="#" class="btn btn-white btn-trans">Learn More</a>
          </div>
          <div class="fs-bg-shade shade-85 royal"></div>
        </div>

        <div class="element element-2 element-content fs-section page-section narrow">
          <div class="fs-element tb-content-block">
            <h2>Pig Brisket </h2>
            <p>Bacon ipsum dolor amet cupim swine pig brisket ribeye prosciutto. Jerky swine hamburger, meatloaf salami spare ribs burgdoggen capicola pancetta fatback tri-tip ham kevin kielbasa. Short ribs frankfurter tongue, tail pork venison shankle alcatra t-bone meatloaf turkey boudin cow brisket. Burgdoggen drumstick porchetta kielbasa leberkas.</p>
          </div>
        </div>

    </div>
  </section>
</template>

<script>
export default {
  asyncData() {
    return {
      name: process.static ? 'static' : (process.server ? 'server' : 'client')
    }
  },
  head: {
    title: 'About | icreativepro',
    meta: [
      { hid: 'description', name: 'description', content: 'We provide web application design, ecommerce and web hosting platform CarbonWP.' }
    ],
    bodyAttrs: {
      class: 'has-bg-shade page page-template-default page-about'
    }    
  }
}
</script>

<style lang="scss">
blockquote.align-left, blockquote.align-right {
    max-width: 300px;
}
.bg-shade-overlay {
  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .85;
    background-color: #428bca;  
  }
}
#about-section {
  margin-bottom: 60px;
  > .element {
    margin-bottom: 0;
  }
  .wrap {
    padding-bottom: 0;
  }
  .about-content {
    .lead-in {
      font-size: 18px;
      line-height: 2;
      color: #fff;
    }
    .lead-in-below {
      font-size: 16px;
      line-height: 2;
    }    
    .icp-square {
      float: left;
      margin: 0 10px 0 0;
    }

  }

  .element-1 {
    h1 {
      font-family: $fs-font-family-secondary;
    }
    &.fs-section {
      margin: -60px -80px;
      padding: 110px 40px;
      @media (min-width: 768px) {
        padding: 110px 80px;
      }
    }
    &.bg-content {
      background: url(/img/springtime-in-the-desert-M48ADWB.jpg) center 10% no-repeat;
      background-size: cover;
      position: relative;

      .fs-element {
        p:first-child {
          color: #fff;
          @media (min-width: 768px) {
            margin-right: 55%;
          }
        }
      }
    }
  }
  .element-2 {
    margin: 60px -80px 0 -80px; // 60px - negative offset for the element-1 (above)
    padding: 80px 40px;

    @media (min-width: 992px) {
      background: #f8f9fb url(/img/web_design_illustration.jpg) top 40% right 15% no-repeat;
      background-size: 35% auto;
      padding: 120px;
    }

    p {
      line-height: 2;
    }

    .tb-content-block {
      padding: 0px 40px;
      @media (min-width: 992px) {
        width: 55%;
      }
    }
  }
}

.hero-header {
  margin-top: -100px;

  > .wrap {
    padding-top: 160px;
  }
}
.about-content {
  margin-left: auto;
  margin-right: auto;
  h2 {
    font-family: $fs-font-family-secondary;
  }
}

</style>
