<template>
  <section id="home-section">
    <div class="page-section hero img-right highlight fs-bg-shade-teal first">
      <div class="wrap clearfix">
        <div class="one-half first left">
          <h3>VueJS Starter Theme</h3>
          <h2>A Starter Nuxt Layout for Rapid Development</h2>
          <p>This includes the FrontStreet.io customizable front-end web framework and a mobile accessible menu.</p>
          <div class="buttons">
            <nuxt-link 
              to="/contact" 
              title="Learn More about CarbonWP.io" 
              class="btn btn-white btn-trans">Learn More</nuxt-link>
          </div>
        </div>
        <div class="one-half right lazy">
          <img
            src="/img/services/webdesign.png"
            width="599"
            height="599">
        </div>        
      </div>
    </div>
    <div class="page-section builder narrow grey">
      <div class="wrap clearfix">
        <div class="promo-media lazy"><img 
          src="/img/services/female-business-owner-holding-tablet-computer-PEVERD4.jpg"
          width="100%"></div>
        <div class="promo-content">
          <h2>Our BBQ Service</h2>
          <p>Bacon ipsum dolor amet cupim swine pig brisket ribeye prosciutto. Jerky swine hamburger, meatloaf salami spare ribs burgdoggen capicola pancetta fatback tri-tip ham kevin kielbasa. Short ribs frankfurter tongue, tail pork venison shankle alcatra t-bone meatloaf turkey boudin cow brisket. Burgdoggen drumstick porchetta kielbasa leberkas. Biltong tenderloin ground round beef doner. Short loin tenderloin pig, brisket kevin chuck pork loin turkey boudin t-bone prosciutto ham hock kielbasa biltong.</p>
        </div>
      </div><!-- .wrap (end) -->
    </div>
    <div class="page-section responsive narrow white">
      <div class="wrap clearfix">
        <div class="promo-media lazy"><img 
          src="/img/web_design_pediredi.jpg"
          width="100%"></div>
        <div class="promo-content">
          <h2>Our Grill Team</h2>
          <p>Bacon ipsum dolor amet cupim swine pig brisket ribeye prosciutto. Jerky swine hamburger, meatloaf salami spare ribs burgdoggen capicola pancetta fatback tri-tip ham kevin kielbasa. Short ribs frankfurter tongue, tail pork venison shankle alcatra t-bone meatloaf turkey boudin cow brisket. Burgdoggen drumstick porchetta kielbasa leberkas.</p>
        </div>
      </div><!-- .wrap (end) -->
    </div>
  </section>
</template>

<script>
export default {
  asyncData() {
    return {
      name: process.static ? 'static' : (process.server ? 'server' : 'client')
    }
  },
  head: {
    title: 'CarbonWP a WordPress hosting platform | icreativepro',
    meta: [
      { hid: 'description', name: 'description', content: 'Providing web application design and custom WordPress solutions.' }
    ],
    bodyAttrs: {
      class: "transparent-header"
    }    
  }
}
</script>
<style lang="scss" scoped>
.page-section {
  //padding: 0 5%;
  position: relative;

  &.highlight {
    h1, h2, h3, h4, h5, h6, p {
      color: #fff;
      text-shadow: 2px 2px 1px rgba(0,0,0,.2);
    }
  }

  &.hero {
    .logo-bg {
      display: block;
      max-width: none;

      opacity: .1;
      position: absolute;
      top: -68%;
      left: -57%;
      width: 200%;
      z-index: 1;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .buttons {
      position: relative;
      z-index: 2;      
    }
    h2 {
      position: relative;
      z-index: 2;      
      font-size: 40px;
      font-weight: 100;
      line-height: 1.3;
      margin: 10px 0 20px 0;      
    }
    h3 {
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
      padding-right: 20px;
      margin-bottom: 30px;
      position: relative;
      z-index: 2;      
    }
    .one-half.first {
      max-width: 520px;
    }
  }

  .one-half {
    bottom: 0;
    min-height: 100%;
    float: left;
    margin-left: 5%;
    &.right {
      top: 10px;
      min-height: 100%;
      position: absolute;
      right: 0;
      width: 65%;
    }
  }
  &.builder {
    .wrap {
      @include respond-to(md) {
        .promo-content {
          width: 45%;
        }
        .promo-media {
          top: 20%;
        }
      }
    }
  }
  &.responsive {
    .wrap {
      @include respond-to(md) {
        .promo-media {
          left: 0;
          top: 20%;
        }
        .promo-content {
          position: relative;
          width: 50%;
          z-index: 2;
          margin: 14% 0 16% 55%;
        }
      }
    }
  }
}

#home-section {
  .page-section {
    &.hero {
      > .wrap {
          padding: 14% 0;
          @media (max-width: 768px) {
            padding: 190px 0 30px;
          }
      }
    }
  }
  .page-section.first .one-half.right {
    width: 55%;
    display: none;
    img {
      margin: 0 auto;
    }
    @include respond-to(sm) {
      display: block;
    }
  }

  &.hero.first {
    > .wrap {
      padding: 25% 0;
    }

    @include respond-to(sm) {
      > .wrap {
        padding: 14% 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .page-section.builder .promo-content, .page-section.responsive .promo-content {
    max-width: 600px;
    text-align: left;
    width: auto;
  }
  .page-section.builder .promo-media, .page-section.responsive .promo-media {
    margin: 20px 0 40px 0;
    position: static;
    width: auto;
  }  
}
</style>
